In [1]:
import pandas as pd
print(pd.__version__)

0.23.0

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
pd.Series(mylist), pd.Series(myarr), pd.Series(mydict)

(0     a
 1     b
 2     c
 3     e
 4     d
 5     f
 6     g
 7     h
 8     i
 9     j
 10    k
 11    l
 12    m
 13    n
 14    o
 15    p
 16    q
 17    r
 18    s
 19    t
 20    u
 21    v
 22    w
 23    x
 24    y
 25    z
 dtype: object, 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 dtype: int64, a     0
 b     1
 c     2
 e     3
 d     4
 f     5
 g     6
 h     7
 i     8
 j     9
 k    10
 l    11
 m    12
 n    13
 o    14
 p    15
 q    16
 r    17
 s    18
 t    19
 u    20
 v    21
 w    22
 x    23
 y    24
 z    25
 dtype: int64)

In [7]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
pd.DataFrame(ser1,ser2)

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

In [11]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='alphabets')

In [13]:
ser.name

'alphabets'

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [23]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1.append(ser2)

0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [24]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64